<h2><%= @restaurant.name %></h2>

<%= link_to 'Notez le restaurant !', new_restaurant_review_path(@restaurant), class: 'btn btn-danger' %>

<%= link_to 'Tous les restaurants', restaurants_path, class: 'btn btn-primary' %>

<% @restaurant.reviews.each do |review| %>
  <p>
    <%= review.content %>
    <%= review.rating %>
  </p>
<% end %>
